@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
}

/* Header */
.social__head {
  width: 100%;
  background-color: rgb(234, 24, 38);
  color: white;
}

.social__head-icons {
  font-size: 16px;
  color: white;
}

/* Navbar */
.nav {
  width: 100%;
}
.nav__items {
  padding: 25px;
  margin: 0;
}

.nav__item {
  list-style: none;
  font-family: "Lora", serif;
  font-weight: 700;
  color: rgb(16, 32, 57);
  cursor: pointer;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

/* Hero */
.hero {
  width: 100%;
  height: 650px;
  background: url("../../public/images/hero-1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.modal__bg {
  background-color: #102039;
  height: 100vh;
}
.modal__bg i {
  color: white;
}
.modal__bg img {
  width: 200px;
  padding: 20px 0 0 20px;
  color: white;
}
.modal__bg input {
  background-color: transparent;
  border: none;
  padding: 20px;
  outline: 0;
  width: 80%;
  color: white;
}

.modal__bg ul {
  color: white;
  margin-top: 30px;
  padding-left: 0;
}

.off__icon div {
  width: 50px;
  height: 50px;

  background-color: #57667d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.off__icon div i {
}
.modal__bg li {
  list-style: none;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #57667d;
}
.modal__bg input::placeholder {
  font-size: 20px;
}

.offcanvas-body {
  background-color: #102039;
}
.hero::after {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(16, 32, 57, 0.5);
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero__text h4 {
  font-size: 24px;
  color: white;
  font-family: "Lora", serif;
}
.hero__text span {
  color: white;
  margin-left: 15px;
}
.hero__text-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -30px;
}
.hero__text h1 {
  font-size: 75px;
  color: white;
  font-family: "Lora", serif;
  max-width: 800px;
}

.hero__cta {
  background: rgb(16, 32, 57);
  color: white;
}

.nav_i {
  font-size: 31px;
  color: rgb(234, 24, 38);
}

.discover {
  background-color: rgb(234, 24, 38);
}

.nav__i-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__text-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Lora", serif;
}
.nav__text-container p {
  margin: 0;
}

.cta_border {
  border-right: 1px solid #7c7c7c;
}

/* Features */

.features {
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.features__container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  flex-flow: wrap;
}

.feature__icon {
  background-color: rgb(16, 32, 57);
  color: white;
  font-family: "Lora", serif;
  width: 150px;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.feature__icon h4 {
  font-size: 21px;
}

.feature__icon::after {
  content: "";
  width: 100%;
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  background-color: rgb(16, 32, 57);
  transition: all 0.3s ease-in-out;
}

.feature__icon::before {
  content: "";
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  position: absolute;
  top: -20px;
  right: -18px;
  height: 20px;
  width: 20px;
  background-color: #57667d;
  transition: all 0.3s ease-in-out;
}

.feature__icon img {
  width: 60px;
}

.feature__text {
  padding: 25px;
  background-color: white;
  width: 200px;
}

.feature__icon:hover {
  background-color: rgb(234, 24, 38);
}

.feature__icon:hover::before {
  background-color: rgb(161, 16, 25);
}

.feature__icon:hover::after {
  background-color: rgb(234, 24, 38);
}

/* Solution */

.solution {
  width: 100%;
  padding: 120px 0;
}
.solution__img {
  background: url("../../public/images/about-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 600px;
}

.solution__imges {
  width: 50px;
}

.solution__text h2 {
  font-family: "Lora", serif;
  font-size: 48px;
  font-weight: 700;
}
.solution__text p {
  font-size: 16px;
  color: #787878;
}

.solution__subtext h4 {
  font-size: 20px;
  font-family: "Lora", serif;
}

.solution__footer-text h5 {
  font-family: "Lora", serif;
  font-size: 18px;
}

.footer {
  width: 100%;
  color: white;
  background-color: #102039;
  position: relative;
  z-index: 0;
}

.subscribe h3 {
  color: white;
  font-family: "Lora", serif;
  font-size: 30px;
}

.subscribe input {
  padding: 10px;
  width: 400px;
}
.subscribe button {
  width: 170px;
  padding: 10px;
  margin-left: 10px;
  font-family: "Lora", serif;
  background-color: rgb(234, 24, 38);
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  outline: none;
}

.footer-1 img {
  width: 150px;
}

.footer-1 p {
  font-size: 16px;
}
.footer-1 h3 {
  font-family: "Lora", serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer-1 ul {
  list-style: none;
  padding: 0;
}
.footer-1 ul li {
  margin: 10px 0;
}

.footer-2 h3 {
  font-family: "Lora", serif;
  font-size: 24px;
}

.footer-2 img {
  width: 85px;
}

.footer-2 h4 {
  font-family: "Lora", serif;
  font-size: 18px;
}

.footer-2 p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-2 i {
  font-size: 12px;
  margin-right: 5px;
  color: rgb(234, 24, 38);
}

.footer-3 h3 {
  font-family: "Lora", serif;
  font-size: 24px;
}
.footer-3 a {
  text-decoration: none;
  color: white;
}

.footer-3 ul {
  list-style: none;
  padding: 0;
}
.footer-3 ul li {
  margin: 10px 0;
}
.footer-4 img {
  width: 95px;
  height: 95px;
  object-fit: cover;
  object-position: center;
}

.footer-4 h3 {
  font-family: "Lora", serif;
  font-size: 24px;
}

.footer__low {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.footer__high {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
}

.sub__footer {
  width: 100%;
  color: white;
  background-color: #102039;
}

.sub__footer a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

/* Quality */
.quality {
  width: 100%;
  background-color: #102039;
  color: white;
}
.quality__top h2 {
  font-family: "Lora", serif;
  font-size: 48px;
  max-width: 650px;
}

.quality__top p {
  max-width: 650px;
}

.quality__image {
  background-color: white;
  padding: 30px 20px;
  color: #102039;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.quality__image img {
  height: 60px;
}

.quality__image h5 {
  font-size: 22px;
  font-family: "Lora", serif;
}

.quality__bottom {
  background-color: white;
  border-radius: 10px;
  color: #102039;
  padding: 50px;
}
.quality__bottom img {
  width: 100%;
}

.quality__list ul {
  list-style: none;
  padding: 0;
}
.quality__list li {
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-size: 18px;
  font-weight: 500;
}
.quality__list i {
  color: rgb(234, 24, 38);
  margin-right: 10px;
}
.quality__bottom-left h5 {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(234, 24, 38);
}
.quality__bottom-left p {
  font-size: 16px;
  color: #787878;
}
.quality__bottom-left h3 {
  font-family: "Lora", serif;
  font-size: 35px;
  font-weight: 700;
}
.quality__bottom-left a {
  text-decoration: none;
  color: white;
  background-color: rgb(234, 24, 38);
  padding: 10px;
}
.quality__bottom-left a i {
  margin-left: 10px;
}

/* Explore */

.explore {
  width: 100%;
}
.explore__container {
  padding: 120px 0;
  text-align: center;
}

.explore__container h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
  color: #102039;
}

.explore__container p {
  margin: 0 auto;
  font-size: 16px;
  color: #787878;
  max-width: 550px;
}

.explore__category div {
  padding: 10px 15px;
  border: 1px solid #102039;
}

.explore__img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: center;
}

.quality__images {
  overflow-x: scroll;
}

.latest {
  width: 100%;
}
.latest__container {
  padding: 0 0 120px 0;
  /* text-align: center; */
}

.latest__container h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
  color: #102039;
  text-align: center;
}

.latest__container p {
  margin: 0 auto;
  font-size: 16px;
  color: #787878;
  max-width: 550px;
  margin-bottom: 45px;
}

.latest__img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  object-position: center;
  padding: 0 10px;
}
.latest i {
  font-size: 18px;
  color: rgb(234, 24, 38);
  margin-left: 15px;
  margin-right: 10px;
}

.latest a {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  color: #102039;
  text-align: left;
}

.latesttext__rotate {
  position: absolute;
  transform: rotate(-90deg);
  width: 340px;
  height: 75px;
  padding: 20px 30px;
  bottom: 17%;
  right: -28%;
  color: white;
  font-size: 18px;
  background-color: rgb(234, 24, 38);
}

.latest__top {
  position: relative;
}

.latest__bottom {
  width: 80%;
}

.latesttext__rotate i {
  color: white;
}

.client {
  width: 100%;
}

.client__container {
  padding: 0 0 120px 0;
}

.client__container h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
  color: #102039;
  text-align: center;
}

.client__container p {
  margin: 0 auto;
  font-size: 16px;
  color: #787878;
  max-width: 550px;
  margin-bottom: 65px;
}

.client_con {
  padding: 60px 35px 70px 35px;
  position: relative;
  max-width: 400px;
  height: 300px;
}

.client_con span {
  position: absolute;
  top: -15px;
  left: 100px;
  border: 3px solid white;
  display: inline-block;
  background-color: rgb(234, 24, 38);
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
}

.client__img {
  position: absolute;
  width: 80px;
  border-radius: 50%;
  top: -40px;
}

.booking__container {
  padding: 0 0 120px 0;
}

.booking__container h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
  color: #102039;
}

.booking__container p {
  font-size: 16px;
  color: #787878;
  max-width: 550px;
  margin-bottom: 65px;
}

.name__container {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  background-color: #102039;
  height: auto;
  color: white;
  padding: 15px;
  width: 280px;
  position: absolute;
  bottom: -15px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.name__container h3 {
  font-size: 20px;
  font-family: "Lora", serif;
}

.name__container h5 {
  font-size: 16px;
  font-weight: 400;
}

.small__box {
  height: 15px;
  width: 15px;
  z-index: -1;
  background-color: #1a3258;
  position: absolute;
  bottom: -15px;
  right: 110px;
}

.name__container:hover {
  background-color: rgb(234, 24, 38);
}

.name__container:hover .client_con {
  border: 1px solid rgb(234, 24, 38);
}

.icon__control {
  position: relative;
  margin: 15px 0;
}
.icon__control i {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #bbb;
}
.icon__control input {
  padding: 10px;
}

.icon__control input::placeholder {
  color: #bbb;
}
.form__button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(234, 24, 38);
  margin: 20px 0;
  color: white;
  font-size: 18px;
}

.booking__head {
  padding: 60px 10px 30px 10px;
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 50%);
  background-color: rgb(234, 24, 38);
}
.booking__head h6 {
  font-size: 22px;
  color: white;
  text-align: center;
}

.booking__head h3 {
  font-size: 35px;
  color: white;
  text-align: center;
  font-family: "Lora", serif;
}
.video {
  width: 100%;
  background-color: #102039;
  position: relative;
  margin: 120px 0;
}
.video__top {
  background-color: white;
  height: 100px;
  position: absolute;
  top: -109px;
  left: 167px;
  z-index: -1;
}
.video__container {
  background-color: #102039;
  color: white;
  padding: 100px 0px;
}
.video__container h5 {
  font-size: 24px;
  color: #ea1826;
  margin-bottom: 15px;
}
.video__container h3 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Lora", serif;
  margin-bottom: 50px;
}
.video__container span {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.video__container i {
  color: #ea1826;
  font-size: 35px;
}

.video__container h4 {
  font-size: 22px;
  font-family: "Lora", serif;
}

.video__container p {
  max-width: 400px;
  font-size: 16px;
  font-weight: 300;
}
.video__img {
  margin-top: -209px;
  width: 100%;
  height: 640px;
  object-fit: cover;
  object-position: left;
}
.video__top > div {
}
.i__container {
  background-color: #ea1826;
  width: 109px;
  height: 109px;
  /* color: white; */
}

.i__container > div {
  background-color: white;
  width: 15px;
  height: 15px;
}

.video__top i {
  color: white;
  font-size: 40px;
}
.booking {
  width: 100%;
}

.booking__left h3 {
  font-size: 24px;

  color: rgb(234, 24, 38);
}

.choose {
  width: 100%;
}

.choose__container {
  padding: 0 0 120px 0;
}

.choose__container h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
  color: #102039;
  text-align: center;
}

.choose__container p {
  margin: 0 auto;
  font-size: 16px;
  color: #787878;
  max-width: 550px;
  margin-bottom: 65px;
}

.choose__middle {
  width: 100%;
}

.choose__img {
  width: 70px;
}

.expert {
  width: 100%;
}

.expert__container {
  padding: 0 0 120px 0;
}

.expert__container h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 48px;
  color: #102039;
  text-align: center;
}

.expert__container p {
  margin: 0 auto;
  font-size: 16px;
  color: #787878;
  max-width: 550px;
  margin-bottom: 65px;
}

.expert__container h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  color: #102039;
  margin-top: 20px;
}

.expert__icon {
  font-size: 24px;
  color: white;
  background-color: #ea1826;
  height: 200px;
}
.burger {
  font-size: 20px;
  color: #ea1826;
}

@media only screen and (max-width: 992px) {
  .solution__img {
    width: 100%;
  }

  .feature__text {
    width: 100%;
  }

  .quality__list {
    flex-direction: column;
    gap: 0;
  }
  .hero {
    height: 450px;
  }
  .hero__text h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .solution__text h2 {
    font-size: 35px;
  }
  .solution__text {
    padding: 0;
  }
  .quality__top {
    flex-direction: column;
  }

  .client__group {
    flex-direction: column;
  }
  .small__box {
    right: 95px;
    bottom: -14px;
  }
  .video__img {
    margin-top: 20px;
  }
  .video__top {
    display: none;
  }
  .choose__text {
    flex-direction: column;
  }
  .expert__flex {
    flex-direction: column;
  }
  .expert__icon {
    display: none;
  }
  .subscribe {
    flex-direction: column;
    text-align: center;
  }

  .subscribe h3 {
    margin-bottom: 15px;
  }
  .subscribe input {
    margin-bottom: 20px;
  }

  .footer__low {
    display: none;
  }
  .sub__foo {
    flex-direction: column;
  }
  .footer-2 h3 {
    padding: 0;
  }
}
